body {
    background-image: url('../images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    margin-top: 110px;
    padding-left: 100px;
    min-width: 1200px;
    height: 500px;
    position: relative;
    z-index: 1;
}

.ryu,
.hulk-ryu {
    width: 659px;
    height: 494px;
    display: inline-block;
}

.hulk-ryu {
    transform: scaleX(-1);
    -webkit-filter: hue-rotate(90deg);
    color: aquamarine;
}

.ryu-ready,
.ryu-still,
.ryu-cool,
.ryu-throwing,
.hulk-ryu-ready,
.hulk-ryu-still,
.hulk-ryu-cool,
.hulk-ryu-throwing {
    width: 659px;
    height: 494px;
}

.ryu-ready,
.ryu-cool,
.ryu-throwing,
.hulk-ryu-ready,
.hulk-ryu-cool,
.hulk-ryu-throwing {
    display: none;
}

.ryu-ready,
.hulk-ryu-ready {
    background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still,
.hulk-ryu-still {
    background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing,
.hulk-ryu-throwing {
    background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool,
.hulk-ryu-cool {
    background-image: url('../images/ryu-cool.gif')
}

.hadouken,
.ryu-ready,
.ryu-still,
.ryu-cool,
.ryu-throwing,
.hulk-hadouken,
.hulk-ryu-ready,
.hulk-ryu-still,
.hulk-ryu-cool,
.hulk-ryu-throwing {
    background-repeat: no-repeat;
}

.hadouken {
    background-image: url('../images/hadouken.gif');
    width: 156px;
    height: 90px;
    display: none;
    float: left;
    position: absolute;
    z-index: 10;
    top: 167px;
    left: 520px;
}

.hulk-hadouken {
    background-image: url('../images/hadouken.gif');
    width: 156px;
    height: 90px;
    display: none;
    float: right;
    position: absolute;
    z-index: 10;
    top: 167px;
    left: 520px;
}


/* Instructions */

.instructions {
    position: relative;
    float: left;
    text-align: center;
    font-family: fantasy;
    font-size: 1.5rem;
    margin-left: 16rem;
    margin-top: -37rem;
    background-color: peachpuff;
    border-radius: 7rem 7rem 0rem 0rem;
    color: brown;
}

.instructions h3 {
    margin: 0.2rem 0.2rem;
}
